/*Base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*Utilities*/
.container {
  max-width: 125rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

/*Header & Nav*/
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.nav {
  height: 10rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 5rem;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  font-size: 1.2rem;
  text-transform: uppercase;
  /* color: #fff; */
  transition: opacity 0.3s;
}

.nav-link:hover {
  opacity: 0.6;
}

section {
  display: none;
}
/*Main content*/

/*Animations*/

/*Media Queries*/
